.aboutContainer {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    min-height: 100vh;
}

.about {
    width: 80%;
}

.page {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.certificates {
    display: flex;
    gap: 2rem;
}

.certificates img {
    width: 50%;
}