.aboutContainer {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    min-height: 100vh;
}

.about {
    width: 80%;
}

.page {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.certificatesContainer {
    display: flex;
    background-color: var(--background-details);
    padding: 2rem;
    padding-left: 7rem;
    border-radius: 2rem;
}

/* .certificatesContainer img {
    width: 80%;
} */

.ctd {
    width: 80%;
}

.language {
    width: 90%;
}

/* Responsive styles */

/* Screens smaller than 768px */

@media (max-width: 768px) {
    
    .about {
        width: 70%;
    }

    .certificatesContainer {
        flex-direction: column;
    }

    .ctd {
        width: 85%;
    }

    .language {
        width: 95%;
    }
}

  /* Screens smaller than 480px */

  @media (max-width: 720px) {

    .about {
        width: 90%;
      }

    .certificatesContainer {
        flex-direction: column;
        padding: 1.5rem;
      }

    .certificate {
        margin-bottom: 2rem;
      }

    .page h1 {
        font-size: 1.5rem;
      }

    .ctd {
        width: 100%;
      }

    .language {
        width: 100%;
      }
  }
  

