.contactContainer {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    min-height: 100vh;
}

.contact {
    width: 80%;
}

.page {
    padding-top: 2rem;
}