.contactSection {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding-bottom: 15rem;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contactLink {
    display: flex;
    align-items: center;
    font-size: larger;
}

.contactLink a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-text-color);
}

.contactIcon {
    color: var(--button-color);
    font-size: 3rem;
    padding-right: 1rem;
}