:root {
  --primary-color: #030318;
  --secondary-color: #010f4d;
  --primary-text-color: #dcdcdd;
  --secondary-text-color: #c9c9d5;
	--button-color: #112f78;
  --secondary-button-color: #028090;

  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

}

@media (prefers-color-scheme: light) {
  :root {
  --primary-color: #c9c9d5;
  --secondary-color: #dcdcdd;
  --primary-text-color: #030318;
  --secondary-text-color: #010f4d;
	--button-color: #028090;
  --secondary-button-color: #001d6c;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scrollbar-color: #001d6c #030318;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--button-color);
  border-radius: 0.5rem; 
}