:root {
  --primary-color: #000000;
  --secondary-color: #172FC8;
  --primary-text-color: #dcdcdd;
  --background-color: #040820;
  --hover: #ffffff;
  --scroll: #020217;
  --font-mono: "Roboto", "Helvetica";
}

.light-mode {
  --primary-color: #E7E7E7;
    --secondary-color: #077D3A;
    --primary-text-color: #000000;
    --background-color: #CFDCD5;
    --hover: #000000;
    --scroll: #95979b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding-right: 0 !important;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
}
