.main {
  min-height: 100vh;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

.description {
  font-family: var(--font-mono);
  color: var(--primary-text-color);
  padding: 2rem;
}

.navbar {
  font-family: var(--font-mono);
  background-color: var(--secondary-color);
  color: var(--primary-text-color);
}

